<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Event Game</ion-label>
          <ion-select [(ngModel)]="tstObj.key" (ionChange)="onChangeVal()">
            <ion-select-option *ngFor="let game of gameLst" [value]="game.key">{{game.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>